/* Estilo para el contenedor que ocupa toda la pantalla */
.card-container {

    width: 100vw;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp3614494.jpg-');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}

/* Capa oscura sobre el fondo */
.card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

/* Contenedor que envuelve la tarjeta */
.card__wrapper {
    position: relative;
    z-index: 2;
}

/* Estilo de la tarjeta */
.card__custom{
    border-radius: 0;
}
/* .card__custom {
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
} */

/* Estilo de la imagen de la tarjeta */
.card__figure {
    cursor: pointer;
    position: relative;
    width: 100%;
    aspect-ratio: 1; /* Mantiene la proporción 1:1 */
    /* border-radius: 8px 8px 0 0; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card__image {  
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen rellene completamente el contenedor */
    transform: translate(-50%, -50%);
    padding: 5px;
    border: black 2px solid;
}

.card__img--custom {
    width: 80px;
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 25px;
}

.card__img--custom--- {
    width: 100px; /* Ancho fijo de 100px */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 80px; /* El alto máximo de 80px */
    object-fit: cover; /* Mantiene la imagen centrada y recorta las partes sobrantes */
}


.card__figcaption--hidden {
    display: none; /* Oculto pero accesible */
}

/* Contenedor de la información de la tarjeta */
.card__info {
    text-align: center;
    margin: 10px 0;
    z-index: 3;
}

/* Título de la tarjeta */
.card__title {
    font-family: "DINNEXT", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #111;
    margin: 8px 0;
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    overflow: hidden; /* Oculta el contenido excedente */
    text-overflow: ellipsis;
}

/* Descripción de la tarjeta */
.card__description {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
    line-height: 1.4rem;
    margin: 8px 0;
    text-align: center;
}

.card__buttom{
    display: flex;
    position: absolute;
    bottom: 0;
}
/* .card-decal{
    display: block;
}

.card-decal:before{
    width: 4px;
    left: 30px;
}

.card-decal:after{
    content: "";
    position: absolute;
    background-color: #5a5c5d;
    height: 4px;
    width: 24px;
    border-radius: 4px;
    left: 2px;
    z-index: 2;
} */