.card__figure--planets {
    overflow: hidden;
    margin: 0;
}

.card__wrapper--planets {
    padding: 5px;
    border: black 2px solid;
}

.card__image--vehicles {
    width: 100%;
}
.card__icon--custom--planets {
    width: 100px;
    margin: 10px 0 5px 0;
}