/* Estilo para el contenedor que ocupa toda la pantalla */
.card-container {
    width: 100vw;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp3614494.jpg-');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7); /* Fondo oscuro */
}

/* Capa oscura sobre el fondo */
.card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Oscurece el fondo */
    z-index: 1;
}

/* Contenedor que envuelve la tarjeta */
.card__wrapper {
    position: relative;
    z-index: 2;
}

/* Estilo de la tarjeta */
.card__custom {
    border-radius: 0; /* Sin bordes redondeados */
}

/* Estilo de la imagen de la tarjeta */
.card__figure {
    cursor: pointer;
    position: relative;
    width: 100%;
    aspect-ratio: 1; /* Mantiene la proporción 1:1 */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card__image {  
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    transform: translate(-50%, -50%);
    padding: 5px;
    border: black 2px solid; /* Borde negro */
}

/* Ícono de la imagen personalizada */
.card__img--custom {
    width: 80px;
    position: absolute;
    z-index: 3;
    right: 2rem;
    top: 2rem;
}

/* Imagen personalizada con tamaño fijo */
.card__img--custom--- {
    width: 100px;
    height: auto; 
    max-height: 80px; 
    object-fit: cover; /* Mantiene la proporción */
}

/* Oculta el pie de imagen */
.card__figcaption--hidden {
    display: none; 
}

/* Contenedor de la información de la tarjeta */
.card__info {
    text-align: center;
    margin: 10px 0;
    z-index: 3;
}

/* Título de la tarjeta */
.card__title {
    font-family: "DINNEXT", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #111;
    margin: 8px 0;
    white-space: nowrap; /* Texto en una línea */
    overflow: hidden; /* Oculta el contenido excedente */
    text-overflow: ellipsis; /* Añade puntos suspensivos */
}

/* Descripción de la tarjeta */
.card__description {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
    line-height: 1.4rem;
    margin: 8px 0;
    text-align: center;
}

/* Estilo del botón */
.card__button {
    display: flex;
    justify-content: space-between; /* Asegura espacio entre los botones */
    gap: 8px; /* Opcional, añade espacio entre ellos */
}

.card__button button {
    flex: 1; /* Cada botón ocupa el mismo espacio */
}
/* Fondo blanco para tarjeta personalizada */
.card__wrapper--custom {
    padding: 10px;
    background-color: white;
}

/* Estilo base para el botón */
.custom-btn {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease;
}

/* Botón en estado no seleccionado */
.custom-btn.not-selected {
    font-family: "DINNEXT", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    border: black 1.5px solid;
    border-radius: 0;
    background-color: transparent;

}

/* Botón en estado seleccionado */
.custom-btn.selected {
    font-family: "DINNEXT", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    background-color: #212529;
    border: black 1.5px solid;
    border-radius: 0;
}


