/* General Styles */
/* Contenedor general del navbar */
.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-bottom: 1px #48494a solid;
    box-shadow: none;
    padding-top: 20px;
}

/* Logo */
/* Contenedor del logo con espaciado */
.logo-container {
    margin-bottom: 5px;
    text-align: center;
    width: 185px;
}

/* Navbar Styles */
/* Configuración del diseño principal del navbar */
.nabvar--custom {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Enlaces del navbar */
.nabvar_link--custom {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Estilo individual para cada enlace */
.nabvar_link--custom a {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #B5B7B7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nabvar_link--custom a:hover {
    color: #fff; /* Cambio de color en hover */
}

/* Navbar Button */
/* Estilo del ícono del botón de hamburguesa */
.navbar-toggler-icon {
    color: #B5B7B7;
}
