/* Variables globales */
:root {
    --padding-small: 0.5rem;
    --border-width: 2px;
    --border-color: black;
}

/* Clases reutilizables */
.card__figure--types,
.card__image--types {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

/* Estilo específico para contenedor de personas */
.card__wrapper--people {
    padding: var(--padding-small);
    border: var(--border-color) var(--border-width) solid;
}

.card__wrapper--custom--people{
    padding: 1rem;
    background-color: white;
}

/* Estilo del ícono personalizado para personas */
.card__icon--custom--people {
    width: 6rem;
    margin: 10px 0 5px;
}

/* Estilo para el titulo */
.card__title--people{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
    color: white;
    order: 1;
    margin-bottom: 12px;
}


/* Estilo general para el texto */
span {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.25em;
    padding-top: 9px;
    padding-bottom: 8px;
    text-transform: uppercase;
}
