/* Figuras de vehículos */
.card__figure--vehicles {
    overflow: hidden;
    margin: 0;
}

/* Contenedor de vehículos */
.card__wrapper--vehicles {
    padding: 5px;
    border: 2px solid black;
}

/* Fondo blanco de tarjetas */
.card__wrapper--custom--vehicles {
    padding: 1rem;
    background-color: white;
}

/* Ícono de vehículos */
.card__icon--custom--vehicles {
    width: 100px;
    margin: 10px 0 5px;
}

/* Estilo para el titulo */
.card__title--vehicles{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
    color: white;
    order: 1;
    margin-bottom: 12px;
}

/* Estilo de texto */
span {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.25em;
    padding: 9px 0 8px;
    text-transform: uppercase;
}
